.over-height {
    width: inherit;
}

.over-width {
    height: inherit;
}

.image-button {
    width: inherit;
    height: inherit;
    padding: 0;
    border: none;
    background: none;
}

.image-wrapper {
    width: 100%;
    overflow: hidden;
    transition: transform 0.2s ease-in;
}

.image-wrapper:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .image-wrapper {
        height: 144px;
    }
}

@media screen and (min-width: 992px) {
    .image-wrapper {
        height: 197.34px;
    }
}

@media screen and (min-width: 1200px) {
    .image-wrapper {
        height: 237.34px;
    }
}

@media screen and (min-width: 1400px) {
    .image-wrapper {
        height: 277.34px;
    }
}

@media screen and (max-width: 768px) {
    .over-width {
        width: inherit;
    }
    .image-wrapper {
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .image-wrapper:hover {
        transform: none;
    }
}