{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        [
            "inline-json-import",
            {}
        ],
        [
            "babel-plugin-root-import",
            {
                "rootPathSuffix": "src"
            }
        ],
        "@babel/plugin-proposal-class-properties"
    ]
}